   
   .search-btn {
    position: absolute;
    border: whitesmoke;
    top: 85%;
    left: 75%;
    color: #e84118;
    border-radius: 50%;
    background: #2f3640;
    transition: 0.4s;
    color: white;
    cursor: pointer;
    height: 9%;
    width: 15%;
   }

   .search-btn:hover{
    background: white;
    color: black;
    box-shadow: -10px -10px 30px 4px rgba(0,0,0,0.1),
                10px 10px 30px 4px rgba(250, 235, 215, .5);
   }
   
   .search-btn > i {
    font-size: 30px;
   }
   

   .react-autosuggest__container{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    z-index: 5;
   }

   .react-autosuggest__input{
        border: none;
        background: none;
        outline: none;
        float: left;
        color: white;
        font-size: 16px;
        transition: 0.4s;
        line-height: 40px;
        font-weight: bold;
        width: 240px;
        padding: 0 6px;
   }

   .react-autosuggest__suggestions-container {
        background: white;
        margin: 3.5rem 2rem 0;
        margin-left: 1rem;
        border-radius: 4%;
        overflow-y: scroll;
   }
   .react-autosuggest__suggestions-list{
        list-style: none;
        padding: .2rem .5rem 0;
        box-sizing: border-box;
   }

   .react-autosuggest__suggestions-list>li{
       margin-top: .5rem;
       padding: .2rem
   }

   .react-autosuggest__suggestions-list>li:hover{
        background:black;
        color:  white;
   }