body {
  margin: 0;
  padding: 0;
  background: #e84118;
 }

.App{
  padding: 1.5rem;
  margin: .5rem;
}

.App-header{
  text-align: center;
  color: antiquewhite;
}

.container{
  position: absolute;
  top: 36%;
  left: 20%;
  width: 240px;
}

.fav{
  display: flex;
  width: 100%;
  justify-content: space-around;
  color: antiquewhite;
  font-size: 1rem;
  font-weight: 500;
  padding: .8rem 0;
  margin: 1.2rem 0;
  border: 1px solid #2f3640;
}
